<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Stock History
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="timeline">
                <% @transactions.each do |k, v| %>
                    <% if k%2 == 0 %>
                        <li>
                    <% else %>
                        <li class="timeline-inverted">
                    <% end %>
                        <div class="timeline-badge">
                            <% if v.transaction_type == "Sale" %>
                                <i class="fa fa-minus"></i>
                            <% else %>
                                <i class="fa fa-plus"></i>
                            <% end %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><%= v.transaction_type %> of <%= v.stock.symbol %> stock</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= v.created_at %></small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p><%= v.notes %></p>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>