<div class="panel-body">
	<% if @report.nil? %>
		<h1> Error: Invalid Stock Symbol </h1>
		<h2> Please try again </h2>
	<% else %>
		<div class="row">
			<div class="col-lg-8">
				<div class="panel panel-default">
	                <div class="panel-heading">
	                    <i class="fa fa-bar-chart-o fa-fw"></i> Stock Chart 1
	                    <div class="pull-right">
	                        <div class="btn-group">
	                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
	                                Actions
	                                <span class="caret"></span>
	                            </button>
	                            <ul class="dropdown-menu pull-right" role="menu">
	                                <li><a href="#">Action</a>
	                                </li>
	                                <li><a href="#">Another action</a>
	                                </li>
	                                <li><a href="#">Something else here</a>
	                                </li>
	                                <li class="divider"></li>
	                                <li><a href="#">Separated link</a>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	                <!-- /.panel-heading -->
	                <div class="panel-body">
	                    <div id="morris-area-chart"></div>
	                </div>
	                <!-- /.panel-body -->
	            </div>
			</div>

			<div class="col-lg-4">
				<% if @report['ChangePercent'] >= 0 %>
					<div class="panel panel-success">
				<% else %>
					<div class="panel panel-danger">
				<% end %>
                    <div class="panel-heading">
                        Basic Info
                    </div>
                    <div class="panel-body">
                    	<ul>
                    		<li>Name: <%= @report['Name'] %> (<%= @report['Symbol'] %>)</li>
                    		<li>Price: <%= @report['LastPrice'] %> </li>
                    	</ul>
                    </div>
                    <div class="panel-footer">
                    	<p>Last Updated: <%= @report['Timestamp'] %> </p>
                    </div>
                </div>	
			</div>
		</div>
	<% end %>
</div>